<head>
  <title>RESERVATIONS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #00bfff">
	<div class="jumbotron">
		<h1 class="text-center">Reservations</h1>
	</div>
	<table class="table">
	<tr>
	  <th>Hotel</th>
	  <th>Room Number</th>
	  <th>Rate ($)</th>
	  <th>Number of People</th>
	  <th>Start Date</th>
	  <th>End Date</th>
	</tr>
	{% for reservation in reservation_list %}
	<tr>
	    <td>{{ reservation.hotel }}</td>
	    <td>{{reservation.room}}</td>
	    <td>{{reservation.rate}}</td>
	    <td>{{reservation.num_of_people}}</td>
	    <td>{{reservation.start_date}}</td>
	    <td>{{reservation.end_date}}</td>
	</tr>
	{% empty %}
	    <li>No reservations.</li>
	{% endfor %}
	</table>
</body>
